---
layout: default
---

<div id="main" role="main">
  <article class="page" itemscope itemtype="https://schema.org/ProfilePage">
    <div class="page__inner-wrap">
      {% if page.title %}
        <header>
          <h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
        </header>
      {% endif %}

      <section class="page__content" itemprop="mainContentOfPage">
        {{ content }}
      </section>
    </div>
  </article>
</div>
